
<%= page_entries_info @listing, entry_name: 'item' %>
<%= paginate @listing, theme: 'twitter-bootstrap-4' %>
<%= @user.each do |u| u end%>
<div class="container">
  <div class="row">
	<% @listing.each do |l| %>
    	<div class="col-sm">
     		<div class="card" style="width: 18rem;">
	     		<% if l.images? %>
	     			<img class="card-img-top" src=<%= l.images[0] %> alt="Card image cap">
	     		<% else %>
					<img class="card-img-top" src="https://s3-ap-southeast-1.amazonaws.com/jeshii-airbnb/default-image.jpg" alt="Card image cap">
				<% end%>
			<div class="card-body">
				<h5 class="card-title"><%= l.name %></h5>
				<p class="card-text"><%= l.description %></p>
				<a href="/listings/<%= l.id %>" class="btn btn-primary">View</a>
				
  			</div>
			</div>
   		</div>
	<% end %>  
  </div>
</div>

	

